### 1. Import all the necessary libraries

In [1]:
import pandas as pd
import geocoder

### Read file from previous assignment part

In [2]:
df = pd.read_csv('List_of_postal_codes_of_Canada.csv')
df.head()

  PostalCode      Borough                             Neighbourhood
0        M1B  Scarborough                           Rouge , Malvern
1        M1C  Scarborough  Highland Creek , Rouge Hill , Port Union
2        M1E  Scarborough       Guildwood , Morningside , West Hill
3        M1G  Scarborough                                    Woburn
4        M1H  Scarborough                                 Cedarbrae

In [3]:
def get_latlng(postal_code):
    # initialize your variable to None
    lat_lng_coords = None
    # loop until you get the coordinates
    while(lat_lng_coords is None):
        g = geocoder.arcgis('{}, Toronto, Ontario'.format(postal_code))
        lat_lng_coords = g.latlng
    return lat_lng_coords
    
get_latlng('M4G')

[43.70976500000006, -79.36390090899994]

In [4]:
postal_codes = df['PostalCode']    
coords = [ get_latlng(postal_code) for postal_code in postal_codes.tolist() ]

### To get 'Latitude' and 'Longitude'

In [5]:
df_coords = pd.DataFrame(coords, columns=['Latitude', 'Longitude'])
df['Latitude'] = df_coords['Latitude']
df['Longitude'] = df_coords['Longitude']
df.head()

,PostalCode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge , Malvern",43.811525,-79.195517
1,M1C,Scarborough,"Highland Creek , Rouge Hill , Port Union",43.785730,-79.158750
2,M1E,Scarborough,"Guildwood , Morningside , West Hill",43.765690,-79.175256
3,M1G,Scarborough,Woburn,43.768359,-79.217590
4,M1H,Scarborough,Cedarbrae,43.769688,-79.239440

In [6]:
df[df.PostalCode == 'M5G']

   PostalCode           Borough       Neighbourhood   Latitude  Longitude
57        M5G  Downtown Toronto  Central Bay Street  43.656091  -79.38493

In [7]:
# To save file
df.to_csv('Geographical coordinates of postal code.csv', index=False)

In [8]:
# To see random portion of table
refined_table = df.sample(frac=1)
refined_table.reset_index(inplace=True)
refined_table.drop('index', axis=1, inplace=True)

print("This is the required table.")
print()
refined_table.head(12)

This is the required table.

,PostalCode,Borough,Neighbourhood,Latitude,Longitude
0,M1J,Scarborough,Scarborough Village,43.743125,-79.231750
1,M3N,North York,Downsview Northwest,43.755331,-79.519590
2,M3L,North York,Downsview West,43.740885,-79.505027
3,M2J,North York,"Fairview , Henry Farm , Oriole",43.780880,-79.347796
4,M5T,Downtown Toronto,"Chinatown , Grange Park , Kensington Market",43.653570,-79.397249
5,M5W,Downtown Toronto,Stn A PO Boxes 25 The Esplanade,43.648690,-79.385440
6,M9R,Etobicoke,"Kingsview Village , Martin Grove Gardens , Ric...",43.686915,-79.557276
7,M8Z,Etobicoke,"Kingsway Park South West , Mimico NW , The Que...",43.624630,-79.526950
8,M6C,York,Humewood-Cedarvale,43.692105,-79.430355
9,M7A,Queen's Park,Not assigned,43.661102,-79.391035
10,M4K,East Toronto,"The Danforth West , Riverdale",43.683262,-79.355120
11,M2H,North York,Hillcrest Village,43.802845,-79.356236